
/* Background */

div {
    width: 1000px;
    min-height: 400px;
    background-color: rgb(188, 252, 132);
    margin: 50px;
}
.cuadro1 {
    background-image: url(../images/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: contain;
}
.cuadro2 {
    background-image: url(../images/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
}


