/* ==================  common  ================== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* color */
    --primary-color: #FFFFFF;
    --secondary-color: #212121;
    --tertiary-color: #757575;
    --quaternary-color: #F5F4FA;
    --quinary-color: #2F303A;
    --accent-color: #2196F3;
    --secondary-accent-color: #AFB1B8;
    /* font */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
}

body {
    margin: 0;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.7;
    scroll-behavior: smooth;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
b,
p {
    margin: 0;
}

img {
    display: block;
}

.header,
.footer {
    width: 1600px;
    margin: 0 auto;
}

.section {
    width: 1600px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;
}

.work-title,
.team-title,
.clients-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-color);
}

.no-padding {
    padding-top: 0;
}

.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* ==================  header  ================== */

.header {
    border-bottom: 1px solid #ECECEC;
    ;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--secondary-color);
}

.logo-part {
    color: var(--accent-color);
}

.menu-item {
    display: flex;
    margin-left: 93px;
}

.menu-list:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    position: relative;
    display: block;
    padding: 32px 0 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.menu-link::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
}

.menu-link.current::after {
    opacity: 1;
}

.contacts-item {
    display: flex;
    margin-left: auto;
    padding: 32px 0 32px;
}

.contacts-list:not(:last-child) {
    margin-right: 30px;
}

.contacts-link {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tertiary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
    fill: currentColor;
}



/* ==================  footer  ================== */

.footer {
    background-color: var(--quinary-color);
}

.footer-container {
    display: flex;
}

.address {
    margin-right: 70px;
    padding: 60px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-color);
}

.address-list:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.link-style {
    color: var(--primary-color);
}

.sm-conatiner {
    padding: 72px 0 100px;
}

.join-us {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);
}

.social-item.sm-item-footer {
    padding: 0;
}

.social-list.sm-list-footer {
    margin-right: 10px;
}

.social-link.sm-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ==================  modal  ================== */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 528px;
    height: 591px;
    background-color: var(--primary-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}





.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    margin-top: -30px;
    margin-left: -30px;
}


.portfolio-list {
    margin-top: 30px;
    margin-left: 30px;
}