/* Ejercicio 1 */
h1 {
    color: teal;
}
h2 {
    color:blue;
}
.table {
    margin-top: 20px;
    margin-bottom: 20px;
    border: thin solid black;
    border-collapse: collapse;
}
th, td {
    border: thin solid black;
    padding: 10px;
}
.rojo {
    color: red;
}
.azul {
color: blue;
}
.verde {
color: green;
}
.amarillo {
color: yellow;
}
.subrayado {
text-decoration: underline;
}
.cursiva {
    font-style: italic;
}