a {
    color: red;
    text-decoration: none;
}
a:hover {
    background-color: red;
    color: white;
}

a:visited {
    color: green;
}

a:active {
    color: blue;
}

/* a:focus {
    color: aqua;
} */