/* 1 ejemplo */

/* body {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 30%;
}
img {
    margin: 1%;
    flex-basis: 30%;
} */


/* 2 ejemplo */

body {
    display: flex;
   flex-wrap: wrap;
}

img {
    margin: 30%;
    margin: 1%;
}