.description-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-text {
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-color);
}

.portfolio-list:hover .description-box {
    transform: translateY(0);
}