html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0; 
}
form {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 10px 15px;
    background-color: rgb(8, 196, 239);
}
.column {
    width: 30%;
    /* padding: 20px; */
}
input, textarea, select {
    width: 100%;
    display: block;
    /* margin-bottom: 25px; */
    outline: none;
    border: 2px solid #ffffff;
    background-color: rgb(9, 202, 246);
}
textarea:not(:last-child) {
    margin-bottom: 25px;
}
input:not(:last-child) {
    margin-bottom: 25px;
}
label {
    font-size: 15px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    line-height: 1.7;
    font-size: 1em;
    color: #ffffff;
}
input {
    padding: 8px;
}
input::placeholder {
    font-size: 16px;
    font-style: italic;
    color: rgb(41, 41, 97);
}
select {
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(to top, rgb(126, 196, 212), rgb(100, 217, 243), rgb(73, 157, 176), rgb(100, 217, 243), rgb(100, 217, 243));
    }
