form {
    display: flex;
    justify-content: space-around;
    padding: 30px 5px 10px 5px;
    background-color: rgb(8, 196, 239);
}
.column {
    width: 33%;
    padding: 20px;
}
label, input {
    width: 100%;
    display: block;
}
label {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(249, 245, 245);
}