body {
    display: flex;
    flex-wrap: wrap;
}
#cuatro1, #cuatro2, #cuatro3, #cuatro4, #cuatro5, #cuatro6 {
    width: 150px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
}

#cuatro2 {
border-radius: 20px;
}

#cuatro3 {
    border-radius: 100px 20px;
}
#cuatro4 {
    border-radius: 30px/80px;
}

#cuatro4 {
    padding: 40px 60px 10px 20px;
    border-radius: 30px 200px 30px 50px;
}
#cuatro5 {
    padding: 20px 20px 40px 40px;
    border-radius: 50px 50px 100px 100px / 50px 50px 200px 200px;
}